/** Prompt Text */
.explore-prompt-text {
  @apply text-center leading-none p-2;
}

/** Segment */
.explore-segment {
  @apply w-1/2 rounded-full bg-gray-100 mx-auto my-2;
}

/** Segment Button */
ion-segment-button.rounded-segment-button::part(indicator-background) {
  @apply rounded-full shadow-behind;
}

/** Search Bar */
ion-searchbar .searchbar-input-container {
  @apply border-b border-indigo-500;
}

ion-searchbar .searchbar-input-container .searchbar-input {
  @apply bg-transparent;
}

ion-searchbar .searchbar-input-container ion-icon {
  --icon-color: theme(colors.indigo.500);
}

/** Explore Event Card */
.explore-event-card {
  @apply rounded-2xl w-auto h-32 mt-3 flex justify-between;
}
.explore-event-card-img-div {
  @apply h-full w-1/3;
}

.explore-event-card-img {
  @apply h-full w-full p-2 object-fill rounded-2xl;
}

.explore-event-card-text-div {
  @apply w-2/3 p-3;
}
.explore-event-card-content {
  @apply text-left p-0;
}
.explore-event-card-datetime {
  @apply text-indigo-500;
}
.explore-event-card-header {
  @apply w-full text-left p-0;
}
.explore-event-card-name {
  @apply text-lg;
}

/** Explore Group Card */
.explore-group-card {
  @apply rounded-2xl w-auto h-32 mt-3 flex justify-between;
}
.explore-group-card-img-div {
  @apply h-full w-1/3;
}

.explore-group-card-img {
  @apply h-full w-full p-2 object-fill rounded-2xl;
}

.explore-group-card-text-div {
  @apply w-2/3 p-3;
}
.explore-group-card-header {
  @apply w-full text-left p-0 pb-2;
}
.explore-group-card-name {
  @apply text-lg leading-none line-clamp-2;
}
.explore-group-card-content {
  @apply text-left p-0;
}
