/** Segment */
/* .group-view-segment {
  @apply w-1/2 rounded-full bg-gray-100 mx-auto my-2;
} */

/** Segment Button */
/* ion-segment-button.rounded-segment-button::part(indicator-background) {
  @apply rounded-full shadow-behind;
} */
/** Prompt Text */
.group-about-text {
  @apply text-center leading-none p-2;
}
.group-banner-img {
  @apply h-full w-full object-cover;
}
